.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.middle {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 2px);
}

.btn-outline-primary-bg-white {
    background-color: #fff;
}
.btn-outline-primary-bg-white:hover {
    color: #6967ce;
    border-color: #fff;
}

button.btn.disabled {
    cursor: not-allowed;
    /* pointer-events: none; */
}
button.btn.disabled:hover {
    color: inherit !important;
    background-color: inherit !important;
}