.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.middle {
    position: absolute;
    left: calc(50% - 2px);
}

.btn-outline-primary-inverted {
    color: #fff;
    border-color: #fff;
    background-color: #6967ce;
}
.btn-outline-primary-inverted:hover {
    color: #6967ce;
    border-color: #6967ce;
    background-color: #fff;
}

button.btn.disabled {
    cursor: not-allowed;
    /* pointer-events: none; */
}
button.btn.disabled:hover {
    color: inherit !important;
    background-color: inherit !important;
}

.remove-pointer {
    pointer-events: none !important;
}
.remove-pointer-all,
.remove-pointer-all * {
    pointer-events: none !important;
}